:root {
  --todo-bg: #ffee95;
  --doing-bg: #ffce94;
  --done-bg: #c0ff8e;
  --data-text-color: #fb70a2;
  --tast-color: #333333;
  --drag-over-bg: #5D5D5D;
}
* {
  font-family: 'Fira Code', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #dddddd;
  position: relative;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
}
.kanban-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.kanban-reset {
  cursor: pointer;
  border-radius: 100%;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  width: 25px;
  height: 25px;
  position: relative;
  transition: 0.5s;
}
.kanban-reset::after,
.kanban-reset::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 2px;
  background: #000;
}
.kanban-reset::after {
  transform: rotate(45deg);
}
.kanban-reset::before {
  transform: rotate(135deg);
}
.kanban-reset:hover {
  transform: rotate(360deg);
}
.kanban-boards {
  border-radius: 20px;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: space-around;
}
.board {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  height: inherit;
  display: flex;
  flex-direction: column;
  width: 30vw;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
}
.board-title-todo {
  background: var(--todo-bg);
}
.board-title-inProgress {
  background: var(--doing-bg);
}
.board-title-done {
  background: var(--done-bg);
}

.board-content {
  overflow-y: auto;
}
.dropzone {
  min-height: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.task {
  z-index: 1000;
  position: relative;
  width: 90%;
  margin: 0 auto;
  max-height: 80%;
  background: #fff !important;
  border: 2px solid #333333;
  border-radius: 8px;
  padding: 1rem 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
  gap: 0.7rem;
}
.task:nth-child(1) {
  margin-top: 0.8rem;
}
.task:last-child {
  margin-bottom: 0.5rem;
}
.spanBox {
  content: "";
  width: 20px;
  height: 20px;
  right: 0;
  position: absolute;
  background: #fff;
  border-radius: 0px 5px 0px 4px;
  cursor: pointer;
  transition: 0.4s;
}
.spanBox:hover {
  background: #333;
}
.spanBox::after, 
.spanBox::before{
  content: "";
  transform: rotate(45deg);
  width: 2px;
  height: 10px;
  right: 8px;
  top: 5px;
  position: absolute;
  background: #333;
}
.spanBox::after {
  transform: rotate(-45deg);
}
.spanBox:hover::before,
.spanBox:hover::after {
  background: #fff;
}
.task h1 {
  font-size: 1rem;
  grid-column: 1 / -1;
}
.task p {
  color: var(--tast-color);
  font-size: 0.8rem;
  grid-column: 1 / -1;
  margin-bottom: 1rem;
}
.taskDate {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  text-align: right;
  color: var(--data-text-color);
}
.taskDate::before {
  content: '';
  background-image: url('./Assets/Alarm.svg');
  width: 16px;
  height: 16px;
  display: inline-block;
  /* left: calc(50% - 16px);
  top: 2px; */
}
.createTask {
  height: 40px;
  margin-block: 1rem;
}
.createTask button {
  height: 40px;
  position: relative;
  width: 90%;
  padding: 5px;
  border: 2px solid #333;
  border-radius: 6px;
  background: #fff;
  cursor: pointer;
  transition: 0.4s;
}
.createTask button::after,
.createTask button::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 14px;
  transform: rotate(90deg);
  background: black;
  left: calc(50%);
  top: 10px;
}
.createTask button::before {
  content: '';
  transform: rotate(360deg);
  left: 20;
}

.createTask button:hover {
  background: #ccc;
}
.modalTask {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 2000;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}
.modalTask form {
  padding: 2rem;
  width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #333;
  color: #fff;
  border: 2px solid #333;
  display: grid;
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: showSlow 1.5s forwards;
}
@keyframes showSlow{
  to {
    opacity: initial;
  }
}
input {
  margin-block: .4rem;
  padding: 0.5rem;
}

#enviarTask {
  cursor: pointer;
  transition: 0.8s;
}
.dragover {
  background: var(--drag-over-bg);
}
@media (max-width: 850px) {
  .kanban-title {
    padding: .2rem;
  }
  .kanban-boards {
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0;
    height: 200px;
    gap: 2px;
  }
  .board {
    width: 100%;
    margin: 0;
    max-height: 250px;
  }
  .modalTask {
    height:100%;
  }
}

